In [ ]:
# import pandas as pd

In [ ]:
#Creating dataframes using dictionary
d1={"NAME":['jeeshan','abrar','ahmad'],
"AGE":[20,25,30]}
pd.DataFrame(d1)

In [ ]:
d1={"NAME":['jeeshan','abrar','ahmad'],
"AGE":[20,25,30]}
#providing index
ind=['A','B','C']
pd.DataFrame(d1,index=ind)

In [ ]:

#Adding new column
cityname=['satna','patna','hyd']
d1['CITY']=cityname
pd.DataFrame(d1,index=ind)

In [ ]:
#update the exsisting column
d1['NAME']=['janhavi','khushi','sapna']
pd.DataFrame(d1,index=ind)

In [ ]:
#drop the column
df=pd.DataFrame(d1,index=ind)
df.drop(['CITY'],axis=1,inplace=True)
df

In [ ]:
#drop the row
df.drop(['C'],axis=0,inplace=True)
df

In [ ]:
#save the dataframe
df.to_csv("assingment_df.csv")
df.to_excel("assingment_df.xlsx")

In [ ]:
# read output csv
pd.read_csv("assingment_df.csv")

In [ ]:
# To avoid the above problem
# give index=Falsedf.to_csv("assingment_df.csv",index=False)
df.to_csv("assingment_df.csv",index=False)

In [ ]:
pd.read_csv("assingment_df.csv")