In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\jeesh\OneDrive\Documents\NARESHIT\DATA FILES\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [3]:
# step-1:Take the prevalaing wage column
# Z-score = x-mean/sigma
# Step-2: Calculate mean of prevailing wage
# step-3: Calculate std of prewage
# Step-4: Nr: Pwage-mean
# Step-5: pwage_zscore=Nr/Dr

In [6]:
pwage=visa_df['prevailing_wage']
mean=visa_df['prevailing_wage'].mean()
std=visa_df['prevailing_wage'].std()
nr=pwage-mean
visa_df['prevailing_wage_z']=nr/std

In [8]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919060
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049923
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [9]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()
# 99.7% data between -3 to 3

(319210.27, 4.634101837909902)

In [10]:
visa_df['prevailing_wage'].idxmax()
# In the prevailing_wage column the maximum value id is 21077

21077

In [11]:
visa_df['prevailing_wage_z'].idxmax()

21077

In [12]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4096818992891214)

In [13]:
visa_df['prevailing_wage'].idxmin()

20575

In [14]:
visa_df['prevailing_wage_z'].idxmin()

20575

In [15]:
# 21077 is max value id
# 20575 is min value id
# can you get only these two rows values
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [17]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[21077,20575]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
21077      319210.2700           4.634102
20575           2.1367          -1.409682

$standardscalar$

In [18]:
# read the package
# save the pcakage
# apply fit trans
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [19]:
cols=['prevailing_wage','prevailing_wage_z','prevailing_wage_ss']
visa_df[cols]

       prevailing_wage  prevailing_wage_z  prevailing_wage_ss
0             592.2029          -1.398510           -1.398537
1           83425.6500           0.169832            0.169835
2          122996.8600           0.919060            0.919079
3           83434.0300           0.169991            0.169994
4          149907.3900           1.428576            1.428604
...                ...                ...                 ...
25475       77092.5700           0.049923            0.049924
25476      279174.7900           3.876083            3.876159
25477      146298.8500           1.360253            1.360280
25478       86154.7700           0.221504            0.221509
25479       70876.9100          -0.067762           -0.067763

[25480 rows x 3 columns]

## **normalization**

$minmaxscalar$

In [20]:
path=r"C:\Users\jeesh\OneDrive\Documents\NARESHIT\DATA FILES\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(path)

In [21]:
# x-x_min/(x_max-x_min)
# step-1: Read the pawge column
# step-2: Find the min value of the pwage column
# step-2: Find the max value of the pwage column
# Step-3: nr= datacolumn-min value
# Step-4: dr= max_value-min_value
# Step-5: nr/dr

In [26]:
pwage=visa_df['prevailing_wage']
pwage_min=visa_df['prevailing_wage'].min()
pwage_max=visa_df['prevailing_wage'].max()
nr=pwage-pwage_min
dr=pwage_max-pwage_min
visa_df['prevailing_wage_norm']=nr/dr

In [33]:
visa_df[['prevailing_wage_norm']]

       prevailing_wage_norm
0                  0.001849
1                  0.261345
2                  0.385312
3                  0.261371
4                  0.469616
...                     ...
25475              0.241505
25476              0.874579
25477              0.458311
25478              0.269895
25479              0.222033

[25480 rows x 1 columns]

In [27]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(0.0, 1.0)

**min max scalar**

In [30]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa_df['prevailing_wage_mms']=mms.fit_transform(visa_df[['prevailing_wage']])

In [32]:
visa_df[['prevailing_wage_mms']]

       prevailing_wage_mms
0                 0.001849
1                 0.261345
2                 0.385312
3                 0.261371
4                 0.469616
...                    ...
25475             0.241505
25476             0.874579
25477             0.458311
25478             0.269895
25479             0.222033

[25480 rows x 1 columns]