In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\jeesh\OneDrive\Documents\NARESHIT\DATA FILES\Visadataset - Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [3]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [4]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

### **prevailing_wage**

In [5]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

$count$

In [6]:
len(visa_df['prevailing_wage'])

25480

In [7]:
visa_df['prevailing_wage'].count()

25480

$mean$

In [8]:
visa_df['prevailing_wage'].mean() # by pandas

74455.81459209183

In [9]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

$median$

In [10]:
visa_df['prevailing_wage'].median()

70308.20999999999

In [11]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

$max$

In [12]:
visa_df['prevailing_wage'].max()

319210.27

In [13]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [14]:
np.min(visa_df['prevailing_wage'])

2.1367

In [15]:
visa_df['prevailing_wage'].min()

2.1367

$standard$ $deviation$

In [16]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [17]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [18]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
l=[wage_count,wage_mean,wage_median,wage_max,wage_min,wage_std]
cols=["preailing_wage"]
index=['count','mean','median','max','min','std']
pd.DataFrame(l,columns=cols,index=index)

        preailing_wage
count         25480.00
mean          74455.81
median        70308.21
max          319210.27
min               2.14
std           52815.94

In [19]:
np.percentile(visa_df['prevailing_wage'],25)

34015.479999999996

In [20]:
np.quantile(visa_df['prevailing_wage'],0.25)

34015.479999999996

**what is the meaning of 25 percentile=34015.47**

- 25 percentage of total data has wage less than 34014.47

- find 25 percentage of total data =25*25480/100=6370

- 6370 person wages has less than 34014

In [21]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [22]:
np.percentile(visa_df['prevailing_wage'],50)

70308.20999999999

In [23]:
np.quantile(visa_df['prevailing_wage'],0.50)

70308.20999999999

In [24]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_50=np.percentile(visa_df['prevailing_wage'],50)
wage_75=np.percentile(visa_df['prevailing_wage'],75)
l=[wage_count,wage_mean,wage_median,
   wage_max,wage_min,wage_std,
  wage_25,wage_50,wage_75]
cols=["preailing_wage"]
index=['count','mean','median','max','min','std','25%','50%','75%']
pd.DataFrame(l,columns=cols,index=index)

        preailing_wage
count       25480.0000
mean        74455.8100
median      70308.2100
max        319210.2700
min             2.1400
std         52815.9400
25%         34015.4800
50%         70308.2100
75%        107735.5125

In [25]:
visa_df.describe()
# 3 numerical columns

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [30]:
cols=visa_df.select_dtypes(exclude='object').columns
d={}
for i in cols:
    count=round(visa_df[i].count(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    maxx=round(visa_df[i].max(),2)
    minn=round(visa_df[i].min(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)   
    
    d[i]=[count,mean,median,
             maxx,minn,std,
             p_25,p_50,p_75]
index=['count','mean','median',
       'max','min','std',
       '25%','50%','75%']
pd.DataFrame(d,columns=cols,index=index)

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125